img{
	width: 1440px;
	height: 899.5px;
	width: 100%;

}
.picture-box{
	position: relative;
}

.picture-text{
	position: absolute;
	width: 233px;
	height: 43px;
	top: 811px;
	left: 180px;
}


.title{
	margin-left: 180px;
	margin-right: 1181px;
	width: 79px;
	height: 12px;
	font-size: 11px;
	color: black;
	/*add font*/
}
.container{
	width: 87.33px;
	height: 34px;
	background-color: blue;
	display: inline-block;
	margin-right: 1063.67px;
	margin-left: 289px;
	margin-top: -100px;

}
h2{
	width: 56px;
	height: 18px;
	font-size: 12px;
	color: white;
	padding-left: 16px;
	padding-top: 8.79px;
	padding-right: 15.33px;
	padding-bottom: 7.21px;
	/*add font*/
}
.top-text{
	width: 616px;
	height: 82px;
	/*add font*/
	margin-left: 180px;
	margin-right: 644px;
	font-size: 33px;
	margin-top: 73px;
}
.bottom-text{
	width: 1016px;
	height: 157px;
	font-size: 25px;
	margin-left:180px ;
	margin-right: 244px;
	margin-top: 72px;

}

.span1{
	margin-left: 180px;
	margin-right:1102px ;
	width: 168px;
	height: 20px;
	font-size: 14px;
	color: gray;
	
	
}
.span2{
	width: 168px;
	height: 20px;
	font-size: 14px;
	margin-left: 428px;
	margin-right: 968px;
	color: gray;	


}

.span3{
	width: 168px;
	height: 20px;
	font-size: 14px;
	margin-left: 562px;
	margin-right:593px ;
	color: gray;
}

.picture-box{
	position: relative;
}

.nav-bar{
	position: absolute;
	left: 851px;
	top: 28px;
	margin-left: 59px;
}
.nav-bar-li{
	display: inline-block;
	margin-left: 59px;

}