img{
	width: 1440px;
	height: 899.5px;
	width: 100%;

}
.picture-box{
	position: relative;
}

.picture-text{
	position: absolute;
	width: 233px;
	height: 43px;
	top: 811px;
	left: 180px;
}


.title{
	margin-left: 180px;
	margin-right: 1181px;
	padding-bottom: 70px;
	padding-bottom: 70px;
	width: 79px;
	height: 12px;
	font-size: 11px;
	color: black;
	font-family: 'Arial GEO Bold';
	
}
.container{
	width: 87.33px;
	height: 34px;
	background-color: blue;
	display: inline-block;
	margin-right: 1063.67px;
	margin-left: 289px;
	margin-top: -100px;

}
h2{
	width: 56px;
	height: 18px;
	font-size: 12px;
	color: white;
	margin-left: 16px;
	margin-top: 8.79px;
	margin-right: 15.33px;
	margin-bottom: 7.21px;
	font-family: 'Arial GEO Bold';
}
.top-text{
	width: 616px;
	height: 82px;
	/*add font*/
	margin-left: 180px;
	margin-right: 644px;
	font-size: 33px;
	margin-top: 73px;
	font-family: 'ArchyEDT-Bold';

}
.bottom-text{
	width: 1016px;
	height: 157px;
	font-size: 25px;
	margin-left:180px ;
	margin-right: 244px;
	margin-top: 72px;
	font-family: 'ArchyEDT-Bold';
	

}

.span1{
	width: 168px;
	height: 20px;
	font-size: 14px;
	color: gray;
	margin-left: 180px;
	font-family: 'Arial GEO Bold';

	
}
.span2{
	width: 168px;
	height: 20px;
	font-size: 14px;
	color: gray;
	margin-left: 80px;
    font-family: 'Arial GEO Bold';
	

}

.span3{
	width: 168px;
	height: 20px;
	font-size: 14px;
	color: gray;
	margin-left: 80px;
	font-family: 'Arial GEO Bold';
	
}

.picture-box{
	position: relative;
}

.nav-bar{
	position: absolute;
	left: 851px;
	top: 28px;
	margin-left: 59px;
}
.nav-bar-li{
	display: inline-block;
	margin-left: 59px;

}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  .background {
	background-color: #f7f7f7;
  }
  .links{
	margin: 0px 0 70px 180px;
  }
  .links a{
	margin-left: 18px;
	text-decoration: none;
	color: rgb(252, 252, 252);
	background-color: #0865DE;
	padding: 10px;
  }
  .links a:hover{
	color: rgb(0, 0, 0);
	background:none;
  }
  .title {
	font-size: 32px;
	margin-left: 180px;
	width: 616px;
	color: #262626;
	font-style: oblique;
  }
  .description {
	margin: 72px 0 64px 180px;
	color: #434343;
	font-size: 25px;
	width: 1016px;
	letter-spacing: 1px;
	line-height: 1.3;
  }
  
  .blar {
	margin-left: 180px;
  }
  .blar span {
	color: #959595;
	font-size: 14px;
	margin-right: 90px;
  }
  .blar a {
	font-size: 18px;
	color: #959595;
  }
  
  /* meinDiv:firstDiv littleDiv */
  
  .meinDiv {
	margin-left: 180px;
	margin-top: 120px;
	/* align-items: center; */
  }
  .firstDiv {
	display: inline-block;
	margin-right: 30px;
	padding: 60px;
	width: 650px;
	background-color: white;
	color: #434343;
	font-size: 18px;
  }
  .firstDiv h4 {
	margin-bottom: 30px;
	font-size: 25px;
	color: #262626;
	letter-spacing: 3px;
  }
  
  .secondDiv {
	position: relative;
	bottom: 20px;
	display: inline-block;
	width: 300px;
	background-color: white;
	padding: 80px 30px;
	color: #434343;
	font-size: 18px;
  }
  .secondDiv h4 {
	margin-bottom: 30px;
	font-size: 25px;
	color: #262626;
	letter-spacing: 3px;
  }
  .thirdDiv {
	display: inline-block;
	margin-right: 30px;
	padding: 60px;
	width: 650px;
	background-color: white;
	color: #434343;
	font-size: 18px;
  }
  .thirdDiv h4 {
	margin-bottom: 30px;
	font-size: 25px;
	color: #262626;
	letter-spacing: 3px;
  }
  .thirdDiv a {
	text-decoration: none;
	color: black;
	padding: 10px;
	box-shadow:  1px 1px 4px rgb(94, 93, 93);
	font-size: 12px;
	
  }
  .thirdDiv a:hover{
	  box-shadow: none;
  }
  .thirdDiv p {
	  margin-top: 20px;
  }
  .Iconediv{
	  position: relative;
	  top: 22px;
	  display: inline-block;
	  background-color: white;
	  text-align: center;
	  padding: 33px ;
	  width: 300px;
  }
  
  .Iconediv img{
	  border-radius: 50%;
	  width: 30px;
	  margin: 10px;
	  height: 30px;
  }
  